<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>AD PasswordChanger</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Active Directory PasswordChanger</h1>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer>
        <hr />
        <small>&copy; 2025 | Behördeninternes IT-Tool</small>
    </footer>
</body>
</html>
